@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: rgb(10, 10, 49) ;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid aqua;
  border-radius: 9px;
  cursor: pointer;
  background-color:cyan;
  box-shadow: 0 0 3px #0ef,
  0 0 10px #0ef;
  font-size: medium;
}

.button:hover{
  box-shadow: 0 0 5px cyan,
   0 0 10px cyan,
   0 0 20px cyan,
   0 0 40px cyan, 
   0 0 80px cyan;
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(227, 35, 176);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(227, 35, 176),
    0 0 10px rgb(227, 35, 176);
}

 /* media queries */
 /* @media(max-width:300px)
 {
  body{
    background-color: aqua;
  }
  .row{
    display: flex;
    flex-wrap:wrap ;
    width:20vw;
    flex-direction: row;
  }
 } */